.GrilleHéro{
display: grid;
grid-template-areas:
    "Section Aside ";
grid-template-columns: 450px auto;
grid-template-rows: auto ;
gap: 0px;
padding: 50px;
margin: 0px;
background:linear-gradient(180deg,#ecedef,#e4e5e6);
display: flex;
}

.GrilleInfo{
display: grid;
grid-template-areas:
    "Recettes Techniques Saisonnier ";
grid-template-columns:auto auto auto;
grid-template-rows: auto ;
display: flex;
justify-content: space-around;
padding: 100px;
}

 img{
    border-radius:25px;
}

.GrilleHéro h1{
    color: #135ad4;

}

.GrilleHéro h3{
    color: #39B54A;

}

main p{
    color: grey;
}

.GrilleHéro > #text-héro{
    grid-area: Section;
    display: block;
    align-items: center;
}



.GrilleHéro > #Image-héro{
    grid-area: Aside;
    justify-items: center;
    align-items: center;
}

.GrilleInfo > #Recettes{
    grid-area: Recettes;

}

.GrilleInfo > #Techniques{
    grid-area: Techniques;

}

.GrilleInfo > #Saisonnier{
    grid-area: Saisonnier;
}

.info{
    background-color: white ;
    border-radius: 16px;
    padding: 32px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    transform: translateY(-5px);
    font-size: small;
    font-weight:bold;
    width: 350px;
}

.info h3{
    color: #135ad4;
}

.info img{
    height: 200px;
    object-fit: cover;
    margin:25px;
    border-radius:25px;
    
}

