img{
    border-radius:25px;
}



main p{
    color: grey;
}



.Héro{
display: flex;
background:linear-gradient(180deg,#ecedef,#e4e5e6);
height: 500px;
padding-top: 40px;
padding-bottom: 40px;
}

.Héro  #text-héro{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    max-width: 500px;
}

.Héro  #Image-héro{
    flex: 1;
    object-fit: cover;
    width: 100%;
}

.Héro h1{
    color: #135ad4;

}

.Héro h3{
    color: #39B54A;

}

.GrilleInfo{
display: grid;
grid-template-areas:
    "Recettes Techniques Saisonnier ";
grid-template-columns:auto;
grid-template-rows:auto;
justify-content: center;
margin: 100px;
}



.GrilleInfo > #Recettes{
    grid-area: Recettes;

}

.GrilleInfo > #Techniques{
    grid-area: Techniques;

}

.GrilleInfo > #Saisonnier{
    grid-area: Saisonnier;
}

.info{
    background-color: white ;
    border-radius: 16px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    transform: translateY(-5px);
    min-width: 350px;
    margin:15px;
}

.info div{
    min-width: 250px;
    padding: 32px;
}

.info h2{
    color: #135ad4;
}

.info img{
    height: 200px;
    width: 100%;
    object-fit: cover;
}



@media  (max-width:1024px){
    
.GrilleInfo{
grid-template-areas:
    "Recettes Techniques"
    "Saisonnier Vide";
}  


}

@media  (max-width:768px){

   
    
    .Héro #text-héro{
        align-items: center;
        justify-content: center;
    }

    .Héro{
        object-fit: cover;
        flex-direction: column;  
        text-align: center;
        align-items: center;
        justify-content: center; 
        height: auto;
    }

    .GrilleInfo{
        grid-template-areas:
        "Recettes" 
        "Techniques"
        "Saisonnier";
        grid-template-columns:100%;
        justify-self: center;
        align-self: center;
        width: 100%;
        
        
    }
    
    
}

@media (max-width:480px){
    
}

