section{
    padding-left: 50px;
    background:linear-gradient(180deg,#ecedef,#e4e5e6);
    padding-bottom: 50px;
}
#bloc-info{
    display: flex;
    justify-content: space-between;
    width: 250px;
    padding-top:40px;
    text-align: center;
    
}

#bloc-info h3{
    font-size:x-large;
    color: var(--primary-color);
    padding-bottom: 10px;
}

.GrilleInfo{
display: grid;
grid-template-areas:
    "Poutine Texte";
grid-template-columns: 1fr 1fr;
grid-template-rows: 660px;
justify-content: center;
margin: 100px;
}

.GrilleInfo h2{
    color: var(--primary-color);
    text-align: start;
}

.GrilleInfo ul{
    padding-left: 1.5rem;
    line-height: 1.6;
    margin: 10px;
}

.GrilleInfo ol{
    padding-left: 1.5rem;
    line-height: 1.6;
    margin: 10px;
}

.GrilleInfo > #texte{
    grid-area: Texte;
    text-align: left;
    padding: 20px ;
    min-width: 400px;
}

.GrilleInfo > #images{
    grid-area: Poutine;
    flex: 1;
    object-fit: cover;
    width: 100%;
}

.GrilleInfo img{
    height: 100%;
    width:100%;
    flex-shrink: 1;
    object-fit: cover;
   
}

#images img{
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

#Chemin{
    display: flex;
    padding-top: 30px;
}

#Chemin a:link{
    color: var(--primary-color);
    text-decoration: none;
    margin-right: 5px;
    margin-left: 5px;
}

#Chemin a:visited{
    color: var(--primary-color);
    text-decoration: none;
}

#Chemin a:active{
color: grey;
text-decoration: underline;
}

#Chemin a:hover{
color: grey;
text-decoration: underline;
}

#Conseils{
    background-color: #f8f9fa;
    border-radius: 25px;
    border-left:solid var(--primary-color);
    max-width: 450px;
    padding: 30px;
    margin: 10px;
}

#button{
    padding-bottom: 100px;
    padding-left: 100px;
}
button{
    border: 15px solid  #6c757d ;
    background-color:  #6c757d;
}

button:hover{
    border: 15px solid #5a6268 ;
    background-color: #5a6268;
}




@media  (max-width:1024px){
    .GrilleInfo{
    grid-template-areas:
    "Poutine"
    "Texte";
    grid-template-columns: auto;

    
    }

    section{
        padding-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



   
    
   
}



