section{
   background:linear-gradient(135deg,#bdc0c4,#f5f6f8);
   height: 150px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
}

h1{

    color: #135ad4;;
}

main p{
    color: gray;
}

.GrilleInfo{
display: grid;
grid-template-areas:
    "Poutine Salade General"
    "Brownies Vide Vide";
grid-template-columns: min-content min-content min-content;
grid-template-rows: auto ;
margin: 100px;
justify-content: center;
}

.GrilleInfo > #Poutine{
    grid-area: Poutine;

}

.GrilleInfo > #Salade{
    grid-area: Salade;

}

.GrilleInfo > #Brownies{
    grid-area: Brownies;

}

.GrilleInfo > #General{
    grid-area: General;
}

.info{
    background-color: white ;
    border-radius: 16px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    transform: translateY(-5px);
   min-width:350px;
    margin: 15px;
}

.info div{
    padding: 32px;
}

.badges{
    display:flex;
    justify-content: space-between;
    max-width: 250px;
    
}

.GrilleInfo img{
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
}


@media  (max-width:1024px){
    
.GrilleInfo{
grid-template-areas:
    "Poutine Salade"
    "General Brownies";

   
}  

}

@media  (max-width:768px){


    .GrilleInfo{
        grid-template-areas:
         "Poutine" 
         "Salade"
        " General" 
        "Brownies";
        grid-template-columns:100%;
        align-self: center;
        justify-self: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        overflow: auto;
          
    }

    
    
}

@media (max-width:480px){

      .GrilleInfo .info{
        
        width: 100%;
        justify-self: center;
        align-self: center;
        overflow: auto;

        
        
    }

}