section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#d8d8d8;
    padding: 30px;
}

article{
    display: flex;
    justify-content: center;
}

section h1{
    color: blue;
}

section p{
    color: grey;
    
}

#texteEnTete{
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px;
    height: 100px;
}

#tableau{
    display: flex;
    border-radius: 25px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    width: fit-content;
    padding: 50px;

}

#tableau table{
    border-collapse: collapse;
    min-height: 400px;
   min-width: 1000px;
}

#tableau tr{
    border-bottom: 4px solid #f8f9fa; ;
    height: 60px;
}



#tableau table caption{
    color: blue;
}



#tableau thead{
    background-color: #f8f9fa;
    font-weight: 600;
    text-align: left;
    height: 40px;
}



#tableau td div{
    width: fit-content;
}

.GrilleInfo{
display: grid;
grid-template-areas:
    "Fraicheur Local Conservation";
grid-template-columns: repeat(auto-fit,minmax(250,1fr));
text-align: center;
gap: 2rem;
margin: 50px;
}

.GrilleInfo h3{
    font-size:1.2rem ;
    color: blue;
    margin-bottom: 1rem;
}

#Conseil{
    grid-area: conseil;
    text-align: center;
    color: blue;
    padding-top: 30px;
}

.GrilleInfo > #Fraicheur{
    grid-area: Fraicheur;
    
}

.GrilleInfo > #Local{
    grid-area: Local;
    
}

.GrilleInfo > #Conservation{
    grid-area: Conservation;

    
}

.GrilleInfo .info{
    background-color: white ;
    border-radius: 16px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    padding: 2rem;
    width: 300px;
}

@media  (max-width:1024px){
    
.GrilleInfo{
grid-template-areas:
    "Fraicheur Local"
     "Conservation Vide";
}  


}

@media  (max-width:768px){


    .GrilleInfo{
       grid-template-areas:
        "Fraicheur" 
        "Local"
         "Conservation";
        grid-template-columns:100%;
        justify-self: center;
        align-self: center;
       
        
        
    }
    
    .GrilleInfo .info{
        width: 100%;
        justify-self: center;
        align-self: center;
        flex: 1;
      
    }

    #tableau{
        overflow: auto;
    }
    
}

@media (max-width:480px){
   
}





