.GrilleInfo{
display: grid;
grid-template-areas:
    "Coupes Cuisson Mesure"
    "Conseil Conseil Conseil";
grid-template-columns:min-content min-content min-content;
grid-template-rows: auto;
justify-content: center;

padding: 100px;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#d8d8d8;
    padding: 30px;
}

section h1{
    color: var(--primary-color);
}

.GrilleInfo h2{
    color: var(--primary-color);
}

.GrilleInfo h3{
    font-weight: 600;

}

.GrilleInfo > #Coupes{
    grid-area: Coupes;


}

.GrilleInfo > #Cuisson{
    grid-area: Cuisson;



}

.GrilleInfo > #Mesure{
    grid-area: Mesure;

}

.GrilleInfo > #Conseil{
    grid-area: Conseil;
    background-color: greenyellow ;
    border-left: solid green;
    border-radius: 15px;
    padding: 30px;
    margin: 10px;
}

.box{
min-width: 300px;
margin: 10px;
background-color: var(--background-color);
border-radius: 15px;
box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
padding: 20px;
}


.carte{
    background-color: var(--background-color);
    border-radius: 15px;
    box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.1);
    margin: 50px;
    padding: 15px;
}

#Mesures .carte{
    background-color: var(--background-color);;
    border-radius: 15px;
    box-shadow: none;
    margin: 50px;
    padding: 15px;

}

@media  (max-width:1024px){
    
.GrilleInfo{
grid-template-areas:
    "Coupes Cuisson"
    "Mesure vide"
    "Conseil Conseil";
}  


}

@media  (max-width:768px){


    .GrilleInfo{
       grid-template-areas:
        "Coupes"
        "Cuisson" 
        "Mesure"
        "Conseil";
        grid-template-columns:100%;
        justify-self: center;
        align-self: center;
        width: 100%;
        overflow: auto;
        
    }
    
    
}

@media (max-width:480px){
   
}

